*~
*.agdai
*.hi
*.o
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
a.out
.DS_Store
Bug*.agda
stack*.yaml.lock

MAlonzo/
dist-newstyle/
.stack-work/
html/

/src/haskell/CPP/
/src/haskell/lab2
/src/agda/lab2
/src/agda/lab3
/src/agda/test/*.class
/src/**/*.j
/src/plt-agda.cabal

/types20/EasyChair3.5/easychair.bib
/types20/EasyChair3.5/throneEC.jpg
/types20/EasyChair3.5/easychair.tex
/types20/agda.sty
/types20/all.bib
/types20/medium.bib
/types20/short.bib

